@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  box-sizing: border-box;
  background-color: var(--bs-primary);
  font-family: "Poppins";
}

.title {
  color: var(--bs-secondary);
  border: 1px solid red;
}

.chart {
  background-color: white;
  position: relative;
  margin: 2rem 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  /* width: 80%; */
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error h1 {
  color: red;
  margin-bottom: 4rem;
  border: red 8px dashed;
  padding: 2rem;
}

.error h5 {
  text-align: center;
}

.warning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: red;
  width: 100%;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 50vh;
  padding: 0 1rem;
  color: rgb(0, 255, 0);
  font-size: 1.5rem;
  margin-right: 2rem;
}
