body,
html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--bs-primary);
  overflow: hidden;
  font-family: Poppins;
}

.title {
  color: var(--bs-secondary);
  border: 1px solid red;
}

.chart {
  background-color: white;
  margin: 2rem 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
