body {
  box-sizing: border-box;
  background-color: rgba(238, 238, 253, 1);
  overflow: hidden;
  font-family: Poppins;
}

body,
html {
  margin: 0;
  padding: 0;
}

.title {
  color: blue;
  border: 1px solid red;
}

.chart {
  background-color: white;
  margin: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
