.timestamp {
  width: 200px;
  height: 30px;
  border: 1px dashed black;
  text-align: center;
}

.db {
  width: 200px;
  height: 300px;
  border: 1px black solid;
  text-align: center;
  background-color: rgb(246, 246, 136);
  padding: 1rem;
  overflow: scroll;
}

.dbData p {
  font-weight: bolder;
}

.noStyleButt {
  border: none;
  background-color: transparent;
  color: var(--bs-secondary);
  font-weight: bolder;
  font-size: 1rem;
  margin: 0 auto;
  max-height: 2.5rem;
}