.index {
  position: relative;
}

.nav {
  position: sticky;
  top: 0;
  margin-right: 0;
  width: 100%;
  z-index: 11;
}

.top {
  position: sticky;
  top: 0;
  z-index: 8;
}

.params {
  background-color: var(--bs-primary);
}

.candidates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.analysis {
  position: relative;
  /* overflow-x: hidden; */
  width: fit-content;
  margin: auto;
}

.filler {
  height: 3rem;
}

.borderLine {
  top: 0;
  margin: auto;
  width: 80%;
  z-index: 2;
}

.summary {
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
