.nav {
  margin-right: 0;
  width: 100%;
}

.candidates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  margin-bottom: 5rem;
}

.analysis {
  margin-top: 3rem;
  height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

.top {
  height: 40vh;
  padding-bottom: 3rem;
}

.filler {
  height: 10vh;
}

.borderLine {
  position: sticky;
  top: 0;
  margin: auto;
  width: 80%;
}
