.params {
  width: 90%;
  padding-top: 6%;
}

.dateInput {
  width: 120% !important;
  font-size: 0.5rem;
}

.dinputDiv {
  position: relative;
  margin-top: 1rem;
  right: 1rem;
  z-index: 0;
}

.box {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 1rem;
}

.boxHeader {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.boxSelected {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
}

.boxIcon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  float: right;
  border: none;
  background-color: transparent;
  color: var(--bs-secondary);
  z-index: 10;
}

.runAnal {
  border: none;
  background-color: var(--bs-secondary);
  color: white;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.dropdownContainer {
  position: relative;
}

.dropDown {
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  padding: 0 2rem;
  padding-top: 1rem;
  background-color: #fff; /* Add a background color for better visibility */
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropDown p {
  cursor: pointer;
}
