.params {
  width: 90%;
  padding-top: 100px;
}

.dateInput {
  width: 250px !important;
}

.dinputDiv {
  position: relative;
  margin-top: 1rem;
  right: 1rem;
  z-index: 0;
}

.box {
  border-radius: 9.88px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 1rem;
  max-height: 13vh;
}

.boxHeader {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.boxSelected {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.boxIcon {
  position: relative;
  float: right;
  border: none;
  background-color: transparent;
  color: var(--bs-secondary);
  z-index: 100;
}

.runAnal {
  border: none;
  background-color: var(--bs-secondary);
  color: white;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.dropdownContainer {
  position: relative;
}

.dropDown {
  position: relative;
  padding-left: 1rem;
  margin-top: 1rem;
  display: block;
  background-color: #fff; /* Add a background color for better visibility */
  border-radius: 9.88px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropDown p {
  cursor: pointer;
}
