.response {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.chart {
  padding: 2rem;
  color: var(--bs-secondary);
}

.metadata {
  position: sticky;
  padding-top: 1rem;
  top: 47.4vh;
  margin: 2rem 0;
  color: var(--bs-secondary);
  background-color: var(--bs-primary);
  width: 103%;
  z-index: 3;
}

.borderLine {
  border-bottom: 1px solid gray;
  width: 102%;
  margin-left: -1%;
}

.butt {
  border: none;
  background-color: var(--bs-secondary);
  color: white;
  border-radius: 2rem;
  margin: 0 auto;
  max-height: 2.5rem;
}
