.container {
  background-color: white;
  margin: 2rem 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  overflow-x: scroll;
}

.chartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.chartHead {
  position: sticky;
  left: 0;
}

.chart {
  width: 100%;
  display: flex;
  position: relative;
  padding: 2rem;
}

.socials {
  position: absolute;
  top: 1rem;
  left: 75%;
}

.socials svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(134, 134, 245);
}

.headerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-secondary);
  margin: auto;
  color: var(--bs-secondary);
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  height: 5rem;
  padding: 0.5rem;
}

.headerBox h6,
.headerBox2 h6,
.headerBox3 h6 {
  margin: 0;
  font-size: 0.7rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--bs-secondary);
  background-color: white;
  color: var(--bs-secondary);
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  height: 5rem;
  overflow: scroll;
  font-size: 0.6rem;
  padding: 0rem;
}

.filler {
  background-color: white;
  border: none;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  height: 5rem;
  font-size: 12px;
  padding: 0.5rem;
}

.butt {
  border: none;
  background-color: var(--bs-secondary);
  color: white;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.url {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.content {
  padding-top: 0;
}

.pageButton {
  border: none;
  color: var(--bs-secondary);
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  float: right;
  margin-right: 1rem;
  font-size: 30px;
}

.column {
  width: 12.33333333% !important;
}
