.sidebar {
  height: 33%;
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 33%;
  margin: 1rem;
  background-color: var(--bs-secondary);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar button {
  margin: 1rem 0.4rem;
  padding: 1rem 0.4rem;
  border: none;
  background-color: inherit;
  color: white;
}

.sidebar button:hover {
  background-color: rgb(73, 73, 252);
  border-radius: 2rem;
}
