.chart {
  width: 100%;
  display: flex;
}

.header {
  background-color: var(--bs-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--bs-secondary);
}

.header h5 {
  margin: auto;
  padding: 1rem 2rem;
}

.user {
  text-align: start;
}

.headerContainer p {
  margin: auto;
  padding: 1rem 2rem;
}

.item {
  text-align: end;
}

.socials {
  display: flex;
}

.socials svg {
  margin: 0 10px;
  cursor: pointer;
  color: rgb(134, 134, 245);
}


.twitter {
  color: rgb(0, 0, 222) !important;
}
