.topAccounts {
  width: 80%;
}

.chart {
  width: 100%;
  display: flex;
  position: relative;
}

.socials {
  position: absolute;
  top: 2rem;
  left: 75%;
}

.socials svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(134, 134, 245);
}

.twitter {
  color: rgb(0, 0, 222) !important;
}

.headerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-secondary);
  margin: auto;
  color: var(--bs-secondary);
  margin-bottom: 0.8rem;
  margin-right: 0.4rem;
  height: 5rem;
  padding: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid var(--bs-secondary);
  margin: auto;
  color: var(--bs-secondary);
  margin-bottom: 0.8rem;
  margin-right: 0.4rem;
  height: 5rem;
  padding: 0.5rem;
}

.headerBox h6,
.headerBox2 h6,
.headerBox3 h6 {
  margin: 0;
  font-size: 0.8rem;
}

.item {
  font-size: 0.8rem;
}
